body{
    background-color: black;
}


::-webkit-scrollbar {
    width: 8px;
  }

.textWrapper{

    overflow: hidden;
    margin: auto;
    margin-top: 80px;
    width: 70%;
    height: 80vh;
    border-radius: 5px;
    display: flex;
 
}


.chatWrapper{
    
    width: 100%;
    height: 100%;
    background-color: white;

}

.chatNavBarWrapper{

    background-color: rgb(248, 247, 247);
    height: 10%;
    display:flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(204, 203, 203)

}

.chatNavBarWrapper p{
    font-weight: bold;
    font-size: larger;
}



.chatArea{

    overflow: scroll;
    overflow-x: hidden;
    overflow-wrap: break-word;
    height: 82%;
    background-color: white;
    border: 1px solid rgb(204, 203, 203)

}


/* Chat Bubble CSS */
.chatMessage{

    display: flex;
    align-items: center;
    
}

.chatMessage.s{
    flex-direction: row-reverse;
}

.chatMessage.s p{

    background-color: rgb(221, 221, 221);
    border-radius: 10px;
    font-size: 20px;
    font-weight: 100;
    padding: 8px;
    max-width: 80%;
    align-self: flex-end;

}

.chatMessage.r p {
    background-color: rgb(230, 249, 255);
    border-radius: 10px;
    font-size: 20px;
    font-weight:100;
    height: auto;
    padding: 8px;
    max-width: 80%;
}

.chatMessage img{
    margin: 10px; 
    border-radius: 50%;
    height: 30px;
    width: 30px;
}


/*Button*/
.messageButton{
    
    height: 10%;
}

.messageForm{

    position: relative;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #f5f5f5;
    

}

.messageForm input[type="text"]{
    border: 1px solid black;
    margin-bottom:18px;
    padding-right: 50px;
    width:92%;
    border-radius: 20px;
    height: 60%;
   
}

#inputArea:focus {
    outline: none;
}

.input-button {

    position: absolute;
    margin-bottom:18px;
    right: 10px;
    height: 40%;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
  }

.input-button:hover {
    background-color: #e8fff3;
  }

/* Sign in CSS */
.signInDivWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    width: 100%;
    background-color: black;
   
}

.signInDiv{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30%;
    width: 15%;
    background-color: white;
    border-radius: 10px;
}

.signInDiv p {
    margin-top: 10px; 
    display: inline-block;
}



/* ALL FOR SIDE CHAT ROOM WRAPPER*/

.sideNav{
    border: 1px solid rgb(204, 203, 203);
    height: 100%;
    background-color: black;
    width: 45vh;
}

.buttonWrapper{

    display: flex;
    align-items: center;
    justify-content: right;
    height: 10%;
    background-color: rgb(231, 231, 231);
    overflow:hidden;
    border: 1px solid rgb(145, 145, 145);

}
.signOutWrapper{
    display: flex;
    align-items: center;
    justify-content: right;
    height: 50%;
    width: auto;
    background-color: rgb(231, 231, 231);
    cursor: pointer;
}
.signOutWrapper p{
    font-weight: bold;
    margin-right: 10px;
}
.signOutWrapper .sign-out{
    margin-right: 20px;
    height: 50%;
}
.signOutWrapper:hover{
    background-color: rgb(248, 248, 248);
}

/* --- */


/** CHAT ROOMS **/

.chatRoomsWrapper{
    height: 100%;
    width: 100%;
    background-color: rgb(241, 241, 241);
}
.chatRoomsWrapper div{
    height: 10%;
    overflow: hidden;
    display: flex;
    align-items: center;

}
.ChatDiv:hover{
    background-color: #ffffff !important;
    cursor: pointer;
}
.chatRoomsWrapper img{
    margin-left: 20px;
    height: 80%;
}
.chatRoomsWrapper p{
    margin-left: 10px;
    font-size: 20px;
    font-weight:bold;
}

.unselectedChat{
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}