body{
    background-color: rgb(103, 162, 230);
}

::-webkit-scrollbar {
    width: 8px;
  }

.textWrapper{

    overflow: hidden;
    margin: auto;
    margin-top: 80px;
    width: 70%;
    height: 80vh;
    border-radius: 15px;
    display: flex;
 
}


.chatWrapper{
    
    width: 100%;
    height: 100%;
    background-color: red;
}

.chatNavBar{
    background-color: rgb(168, 153, 223);
    height: 10%;
}

.chatArea{

    overflow: scroll;
    overflow-x: hidden;
    overflow-wrap: break-word;
    height: 82%;
    background-color: rgb(196, 205, 224);

}


/* Chat Bubble CSS */
.chatMessage{

    display: flex;
    align-items: center;
    
}

.chatMessage.s{
    flex-direction: row-reverse;
}

.chatMessage.s p{

    background-color: lightgreen;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 100;
    padding: 8px;
    max-width: 80%;
    align-self: flex-end;

}

.chatMessage.r p {
    background-color: lightblue;
    border-radius: 20px;
    font-size: 20px;
    font-weight:100;
    height: auto;
    padding: 8px;
    max-width: 80%;
}

.chatMessage img{
    margin: 10px; 
    border-radius: 50%;
    height: 30px;
    width: 30px;
}


/*Button*/
.messageButton{
    
    height: 10%;
}

.messageForm{

    position: relative;
    bottom: 10px;
    height: 100%;


}

.messageForm input[type="text"]{

    padding-right: 50px;
    width:100%;
    border:none;
    height: 95%;
   
}

#inputArea:focus {
    outline: none;
}

.input-button {

    position: absolute;
    top:8%;
    right: 10px;
    height: 50%;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
  }

.input-button:hover {
    background-color: #5e187a;
  }

/* Sign in CSS */
.signInDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    width: 100%;
    flex-direction: column;
}

.signInDiv p {
    margin-top: 10px; 
    display: inline-block;
}



/* ALL FOR SIDE CHAT ROOM WRAPPER*/

.sideNav{
    height: 100%;
    background-color: black;
    width: 45vh;
}

.buttonWrapper{

    display: flex;
    align-items: center;
    justify-content: right;
    height: 10%;
    background-color: rgb(74, 24, 116)
}

.sign-out{
    margin-right: 20px;
}

/* --- */


/** CHAT ROOMS **/

.chatRoomsWrapper{
    height: 100%;
    width: 100%;
    background-color: rgb(122, 141, 202);
}
.chatRoomsWrapper div{
    height: 10%;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.chatRoomsWrapper div:hover{
    background-color: #b0d9f5;
}
.chatRoomsWrapper img{
    margin-left: 20px;
    height: 80%;
}
.chatRoomsWrapper p{
    margin-left: 10px;
    font-size: 20px;
    font-weight:bold;
}
